/*header of the web page */
header {
    background-color: #008080;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: #005555;
  }

h1{
    text-align: center;
    font-family: monospace;
  }
body {
    background-color: rgb(227, 246, 250);
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .profile {
    max-width: 600px;
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }
  
  .profile img {
    display: block;
    margin: 0 auto; 
    width: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile .button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #008080;
    color: white;
    text-align: center;
  }

p {
    text-align: center;
}